@import '../../../app.component.scss';

.bg_url_hnh {
  background-image: url(https://lh3.googleusercontent.com/M9Avtz7pcn5YvzMZhz8voAFShKaKR9Z6lFp3flphZQSf_lVMBft578xsAIzeLOQDv4vaoOytHl4Hf3tHskdT29IRcVlPz_4=rw-w0);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
